<div class="product-details-container">
  <app-sidebar rootClassName="sidebar-root-class-name"></app-sidebar>
  <div class="product-details-container01">
    <app-header2 rootClassName="header2-root-class-name"></app-header2>
    <div class="product-details-container02">
      <div class="product-details-container03">
        <h1 class="product-details-text">Heading</h1>
      </div>
      <div class="product-details-container04">
        <div class="product-details-container05">
          <div class="product-details-container06">
            <h1 class="product-details-text01">New</h1>
            <select class="product-details-select">
              <option value="Option 1">Option 1</option>
              <option value="Option 2">Option 2</option>
              <option value="Option 3">Option 3</option>
            </select>
          </div>
          <div class="product-details-container07">
            <div class="product-details-container08">
              <img
                alt="image"
                src="/assets/image%20(7)-200h.png"
                class="product-details-image"
              />
              <div class="product-details-container09">
                <h1 class="product-details-text02">New property listed</h1>
                <span class="product-details-text03">on Property - 3600</span>
                <span class="product-details-text04">
                  Great property, thank you
                </span>
                <div class="product-details-container10">
                  <h1 class="product-details-text05">Like</h1>
                  <h1 class="product-details-text06">Reply</h1>
                </div>
              </div>
              <span class="product-details-text07">1 hour ago</span>
            </div>
          </div>
          <div class="product-details-container11">
            <div class="product-details-container12">
              <img
                alt="image"
                src="/assets/image%20(8)-200h.png"
                class="product-details-image1"
              />
              <div class="product-details-container13">
                <h1 class="product-details-text08">Interested buyer</h1>
                <span class="product-details-text09">on Property - 3600</span>
                <span class="product-details-text10">
                  Great property, thank you
                </span>
                <div class="product-details-container14">
                  <h1 class="product-details-text11">Like</h1>
                  <h1 class="product-details-text12">Reply</h1>
                </div>
              </div>
              <span class="product-details-text13">1 hour ago</span>
            </div>
          </div>
        </div>
        <div class="product-details-container15">
          <h1>Filter</h1>
          <div class="product-details-container16">
            <div class="product-details-container17">
              <span class="product-details-text15">Comments</span>
              <span class="product-details-text16">Likes</span>
              <span class="product-details-text17">Review</span>
              <span class="product-details-text18">Mentions</span>
              <span class="product-details-text19">Purchases</span>
              <span class="product-details-text20">Message</span>
            </div>
            <div class="product-details-container18">
              <input
                type="checkbox"
                checked="true"
                class="product-details-checkbox"
              />
              <input
                type="checkbox"
                checked="true"
                class="product-details-checkbox1"
              />
              <input
                type="checkbox"
                checked="true"
                class="product-details-checkbox2"
              />
              <input
                type="checkbox"
                checked="true"
                class="product-details-checkbox3"
              />
              <input
                type="checkbox"
                checked="true"
                class="product-details-checkbox4"
              />
              <input
                type="checkbox"
                checked="true"
                class="product-details-checkbox5"
              />
            </div>
          </div>
          <div class="product-details-container19">
            <button type="button" class="product-details-button button">
              Select all
            </button>
            <button type="button" class="product-details-button1 button">
              Button
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
